<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Firebase Demo</title>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="../components/angular/angular.js"></script>
  <script src="../ng-firebase.js"></script>
  <script src="../ng-firebase-collection.js"></script>
  <script src="../ng-firebase-binding.js"></script>
  <script src="app.js"></script>

</head>
<body ng-app="app" ng-controller="App">
  <form action="">
    <label for="">First Name</label>
    <input type="text" ng-model="userInfo.firstName">
    <label for="">Last Name</label>
    <input type="text" ng-model="userInfo.lastName">
  </form>

  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="book in books">
        <td><input ng-model="book.title"></td>
        <td><input ng-model="book.description"></td>
        <td>
          <button ng-click="books.$update(book)">Update</button>
          <button ng-click="books.$remove(book)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
  <form>
    <legend>Add New</legend>
    <label for="newBookTitle">Title</label>
    <input type="text" ng-model="title" id="newBookTitle">
    <label for="newBookDescription">Description</label>
    <input type="text" ng-model="description" id="newBookDescription">
    <button ng-click="books.$add({title: title, description: description})">Add</div>
  </form>
</body>
</html>